.boite3 {
    width: 800px;
<<<<<<< HEAD
    height: 200px;
    background-color: red;
    border: 5px solid rgb(181, 181, 181);
    padding: 10px;
}
.poussin {
    float:  left;
    border: 2px solid rgb(14, 0, 0);
    margin-top: 2px;
    margin-right: 5px;
}
=======
    height: 300px;
    background: red;
    border: 2px gray;
}
.h3 {
    
}
img {
    border: black solid;
    float: left;
}
>>>>>>> 7292b5f820da20dbf8d289b029bace3bc789c332
